@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/644016_389294584500701_499953703_n.jpg?oh=9db52947e9b12de601ab0c87d1f5819c&oe=58BA73F6);">
    <h1 class="glyphicon glyphicon-wrench navbar-brand"> </h1>
        <h1> Dormitory Repair</h1>
        <p class="lead" style="color:white;">ยินดีต้อนรับเข้าสู่ ระบบแจ้งซ่อม แจ้งปัญหาหอพักนักศึกษาหญิง มหาวิทยาลัยสงขลานครินทร์ วิทยาเขต ภูเก็ต เราพร้อมรับฟังทุกปัญหา และเพิ่มความสะดวกในการแจ้งซ่อมแจ้งปัญหา ให้กับนักศึกษาในหอพักทุกคน </p>
        <p><a href="http://web52.phuket.psu.ac.th/dormitory1-2-3/Dormitory_Officers.htm" target="_blank" class="btn btn-success btn-lg">ไปยังหน้าหอพักหญิงในกับกับ 1,2 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>